Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65023/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65023/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Number2Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Number2Words" />
  </wsdl:message>
  <wsdl:message name="IService1_Number2Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Number2WordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRandomRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomRecipe" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRandomRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWineDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWineDescription" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWineDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWineDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AnalyzeRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AnalyzeRecipe" />
  </wsdl:message>
  <wsdl:message name="IService1_AnalyzeRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnalyzeRecipeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordFilter" message="tns:IService1_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordFilterResponse" message="tns:IService1_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Number2Words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Number2Words" message="tns:IService1_Number2Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Number2WordsResponse" message="tns:IService1_Number2Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRandomRecipe" message="tns:IService1_GetRandomRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRandomRecipeResponse" message="tns:IService1_GetRandomRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWineDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWineDescription" message="tns:IService1_GetWineDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWineDescriptionResponse" message="tns:IService1_GetWineDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnalyzeRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AnalyzeRecipe" message="tns:IService1_AnalyzeRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AnalyzeRecipeResponse" message="tns:IService1_AnalyzeRecipe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService1/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Number2Words">
      <soap:operation soapAction="http://tempuri.org/IService1/Number2Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomRecipe">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRandomRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWineDescription">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWineDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeRecipe">
      <soap:operation soapAction="http://tempuri.org/IService1/AnalyzeRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:65023/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>