Connected Services/spoonacularService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar31.fulton.asu.edu/Page10/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/spoonacularService" />
  <xs:element name="SearchRecipesByIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingredients" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRecipesByIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/spoonacularService" minOccurs="0" name="SearchRecipesByIngredientsResult" nillable="true" type="q1:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeSummaryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeSummaryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/spoonacularService" minOccurs="0" name="GetRecipeSummaryByIdResult" nillable="true" type="q2:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuAutoComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuAutoCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/spoonacularService" minOccurs="0" name="MenuAutoCompleteResult" nillable="true" type="q3:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>