Connected Services/spoonacularService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar31.fulton.asu.edu/Page10/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar31.fulton.asu.edu/Page10/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar31.fulton.asu.edu/Page10/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/spoonacularService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SearchRecipesByIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipesByIngredients" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchRecipesByIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipesByIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecipeSummaryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeSummaryById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecipeSummaryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeSummaryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MenuAutoComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuAutoComplete" />
  </wsdl:message>
  <wsdl:message name="IService1_MenuAutoComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SearchRecipesByIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchRecipesByIngredients" message="tns:IService1_SearchRecipesByIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchRecipesByIngredientsResponse" message="tns:IService1_SearchRecipesByIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipeSummaryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRecipeSummaryById" message="tns:IService1_GetRecipeSummaryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRecipeSummaryByIdResponse" message="tns:IService1_GetRecipeSummaryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuAutoComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MenuAutoComplete" message="tns:IService1_MenuAutoComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MenuAutoCompleteResponse" message="tns:IService1_MenuAutoComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchRecipesByIngredients">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchRecipesByIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeSummaryById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRecipeSummaryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuAutoComplete">
      <soap:operation soapAction="http://tempuri.org/IService1/MenuAutoComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar31.fulton.asu.edu/Page10/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>